<div class="grid-container">
  <div class="grid-titles">
    <h1>Movies</h1>
    <%= link_to 'New movie', new_movie_path, class: "btn btn-primary", id: "pinned-button-index" %>
  </div>
  <div>
    <ul class="grid">
      <% 2.times do @movies.each do |movie| %>
        <li>
          <a href="<%= movie_path(movie) %>">
            <%= image_tag "#{movie.poster_url}", height: '400', width: '260' %>
          </a>
        </li>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>
