// Place all the styles related to the movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

*{
	list-style: none;
	text-decoration: none;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
  background-color: #000;
  color: #5c7cfa;
}


.container-center {
  position: relative;
  width: 800px;
  margin: 0 auto;
}

.container-movies {
  position: relative;
}

#pinned-button-show {
  position: absolute;
  top: 30px;
  right: 30px;
}

#pinned-button-index {
  position: absolute;
  top: 10px;
  right: 4xpx;
}


ul {
  list-style: none;
}


.grid-container {
  margin: 0 100px;
}

.grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  row-gap: 0;
  grid-gap: 0;
  img {
    padding: 0;
    transition: transform 0.25s ease;
  }
  img:hover {
    transform: scale(1.4);
  }
}

.grid-titles {
  position: relative;
  width: 100%;
}

.sidebar{
  position: fixed;
  top: 0;
  left: 0;
  width: 325px;
  height: 100%;
  padding: 20px 0;
  transition: all 0.5s ease;
}
