*{
	list-style: none;
	text-decoration: none;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
  background-color: #000;
  color: #5c7cfa;
}


.container-center {
  position: relative;
  width: 800px;
  margin: 0 auto;
}

#pinned-button-show {
  position: absolute;
  top: 30px;
  right: 30px;
}

#pinned-button-index {
  position: absolute;
  top: 10px;
  right: 4px;
}

ul {
  list-style: none;
}


.grid-container {
  margin: 0 100px;
}


.movie {
  display: flex;
  align-items: center;
}

.grid-titles {
  position: relative;
  display: flex;
  padding: 10px;
  justify-content: space-between;
}

.movies {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  row-gap: 0;
  grid-gap: 0;
  img {
    padding: 0;
    transition: transform 0.25s ease;
  }
  img:hover {
    transform: scale(1.4);
  }
}

@media(max-width: 1202px) {
  .movies {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media(max-width: 992px) {
  .movies {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media(max-width: 768px) {
  .movies {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media(max-width: 576px) {
  .movies {
    grid-template-columns: 1fr 1fr;
  }
}

@media(max-width: 560px) {
  .movies {
    grid-template-columns: 1fr;
  }
}
